:root{
    --backcolor:#eee3e7;
    --buttoncolor:#f6abb6;
    --textcolor:black;
    --textcolorbac:#f4b6c2;
}
/*-------------------------------styling navbar---------------------------------*/
.navbar{
    background-color:var(--backcolor);
}
.navbar .nav-link{
    color:var(--textcolor);
}
.navbar-brand{
    color:var(--textcolor);
}
.navbar .btn{
background-color:var(--buttoncolor);
}

.navbar .nav-link:hover,.navbar .nav-link:focus{
    color:  #f6abb6;
    /* don't add space btween element and pseudo classes*/
}
.navbar-brand img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.navbar-toggler span{
    background-color: var(--buttoncolor);
}
.navbar-toggler span:hover{
    color: var(--buttoncolor);
}
/*there is litle problem here*/
.navbar-toggler span:focus{
    box-shadow: none;
    border: white;
}
/*-------------------------------styling landing---------------------------------*/
.landing{
    /* there is a problem in width and height*/
}
.landing .card{
    background-color: var(--backcolor);
}
.landing .card .card-body h3{
    text-align: center;
    font-weight:bold;
    margin-top: 6px;
    margin-bottom: 55px;
    position: relative;   
}
.landing .card .card-body h3::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 4px;
    bottom: -15px;
    left: 50%;
    background-color:  var(--buttoncolor);
    transform: translateX(-50%);
}
.landing .card .card-body p{
    font-size: large;
    font-weight:;
    padding-top:5px ;
    padding-bottom:5px ;
    text-align: justify;
}
/*-------------------------------hardskills---------------------------------*/
.hardskills .card{
    margin-top: 4px;
    height:400px;
    
}
.hardskills h3{
    text-align: center;
    font-weight:bold;
    margin-top: 6px;
    margin-bottom: 55px;
    position: relative;   
}
.hardskills h3::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 4px;
    bottom: -15px;
    left: 50%;
    background-color:  var(--buttoncolor);
    transform: translateX(-50%);
}
/*-------------------------------softskills---------------------------------*/
.softskills h3{
           text-align: center;
           font-weight:bold;
           margin-top: 6px;
           margin-bottom: 55px;
            position: relative;   
}
.softskills h3::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 4px;
    bottom: -15px;
    left: 50%;
    background-color:  var(--buttoncolor);
    transform: translateX(-50%);
}
.softskills{
    border-radius: 50%;
    display: flex;
}
.soft{
    width:150px;
    height: 150px;
    background-color: #eee;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 50%;
    box-shadow: -5px -5px 0 0  #eec9d2, 5px 5px 0 0 #f4b6c2;
    margin: 10px;
}
/*-------------------------------coreskills---------------------------------*/
.coreskills h3{
    text-align: center;
font-weight:bold;
margin-top: 6px;
margin-bottom: 55px;
position: relative;   
}
.coreskills h3::after{
    content: "";
    position: absolute;
     width: 250px;
height: 4px;
bottom: -15px;
left: 50%;
background-color:  var(--buttoncolor);
transform: translateX(-50%);
}
/*-------------------------------my project ---------------------------------*/
.myproject h3{
    text-align: center;
    font-weight:bold;
    margin-top: 6px;
    margin-bottom: 55px;
     position: relative;  } 
.myproject h3::after{
        content: "";
        position: absolute;
        width:  120px;
        height: 4px;
        bottom: -15px;
        left: 50%;
        background-color:  var(--buttoncolor);
        transform: translateX(-50%);
    }
    .myproject .btn{
        background-color: var(--buttoncolor);
    }
/*-------------------------------yourproject ---------------------------------*/
.yourproject h3{
    text-align: center;
    font-weight:bold;
    margin-top: 6px;
    margin-bottom: 55px;
     position: relative;  } 
 .yourproject h3::after{
    content: "";
    position: absolute;
    width:  250px;
    height: 4px;
    bottom: -15px;
    left: 50%;
    background-color:  var(--buttoncolor);
    transform: translateX(-50%);
     }
     .yourproject .btn{
        background-color: var(--buttoncolor);
    }
    /*-------------------------------footer--------------------------------*/
    .footer .btn{
        background-color: var(--buttoncolor);
    }
    .footer img{
        width: 70px;
        height: 70px;
        border-radius: 50%;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* .one div::before{ */
        /* content: counter(number); */
        /* background-color: black; */
        /* color: white; */
        /* padding: 5px 10px; */
        /* border-radius: 50%; */
        /* position: absolute; */
        /* left: 33px; */
        /* top: -11px; */
    /* } */
    /* .one div::after{ */
        /* content: attr(data-person); */
        /* font-weight: bold; */
        /* position: absolute; */
        /* left: 20px; */
        /* top: 38px; */
    /* } */
    .coreskills img{
        width: 100px;
    }
    .coreskills li img  {
        display:flex;
        justify-content:space-evenly;
        margin-left: 25px;
        margin-right: 25px;
    }
    .coreskills li img .first{
        margin-left: 3px;
    }
    .coreskills li img .last{
        margin-right: 3px;
    }  
  
    .social img{
        margin-right: 2rem;
        width: 3rem;
        transition: 0.4s;
    }
    .social img:hover{
        transform: scale(1.2);
    }
  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    








 
